<!-- src/app/navbar/navbar.component.html -->
<nav class="bg-white py-4 w-screen">
    <div class="w-screen flex flex-row justify-around items-center border border-solid border-b-2 border-x-0 border-t-0 border-gray-300  md:pb-6 pb-1">
      <div class="text-black font-bold">
        My Angular App
      </div>
      <div class="md:hidden">
        <!-- Mobile menu button -->
        <button (click)="toggleMobileMenus()" class="text-gray-400 focus:outline-none">
          <svg
            class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
      </div>
      <div class="hidden md:flex space-x-4">
            <!-- Desktop navigation links -->
            <a href="#" class="block text-black py-2">Home</a>
            <a routerLink="Account/contact" class="block text-black py-2">Contact</a>
            <a href="#" class="block text-black py-2">About</a>
            <a routerLink="/Account/signup" routerLinkActive="router-link-active"  class="block text-black py-2">SignUp</a>
      </div>
      <div class="hidden md:flex ">
            
            <form>   
               <div class="flex flex-row justify-start items-center relative">
                    
                    
                    <button type="submit" class="text-white absolute  left-44 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-300 dark:hover:bg-white-700 dark:focus:ring-white-800">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </button>
                    <input type="search" id="default-search" class="block  w-60 p-2  pe-16 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
                </div>
            </form>

      </div>
      
    </div>
    <!-- MobileNavigationBar -->
    <div *ngIf="isMobileMenuOpen" class="md:hidden flex flex-col items-center">
        <!-- Mobile navigation links -->
        <a href="#" class="block text-black py-2">Home</a>
        <a href="#" class="block text-black py-2">Contact</a>
        <a href="#" class="block text-black py-2">About</a>
        <a routerLink="/Account/signup" routerLinkActive="router-link-active"  class="block text-black py-2">SignUp</a>
    </div>
    
  </nav>
  <div class=" md:hidden block py-2 ">
    <form class="flex flex-row justify-center " >   
        <div class="flex flex-row items-center relative ">
            <button type="submit" class="text-white absolute  left-52 hover:border-solid hover:border-2 hover:border-gray-500  focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-1 py-1 dark:bg-gray-300 dark:hover:bg-white-700 dark:focus:ring-white-800">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </button>
            <input type="search" id="default-search" class="block  max-w-full mx-3 p-2 pe-16 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
        </div>
    </form>

</div>

  