<!-- src/app/navbar/navbar.component.html -->
<div class="flex h-screen">
  <div class="w-64 h-full bg-gray-200 text-black p-8 ">
  <h2 class="text-2xl font-semibold mb-6">My Account</h2>
  <ul class="list-unstyled text-sm">
    <li class="mb-2"> 
      <a href="/profile/myprofile">My Profile</a>
    </li> 
    <li class="mb-2"> 
      <a class="block py-1 hover:text-gray-300" href="#">Address Book</a> 
    </li>
    <li class="mb-2"> 
      <a class="block py-1 hover:text-gray-300" href="#">My Orders</a> 
    </li>
  </ul>
</div>
<div class="flex-1 p-8">
  <div class="container max-w-500 mx-auto px-20 py-19">
    <h2 class="text-red-500">Edit Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="save()" class="space-y-6">
      <div class="form-group"> 
        <label for="Name" class="font-bold block">PersonName:</label> <input type="text" id="firstName"
          formControlName="Name" placeholder="Name" class="w-3/4 px-4 py-2 border bg-gray-300 rounded-md">
        <div *ngIf="profileForm.get('Name')?.hasError('required') && profileForm.get('Name')?.touched" class="text-red-500"> Name is required. 
        </div>
      </div>
      <div class="form-group"> 
        <label for="email" class="font-bold block">Email:</label> <input type="email" id="email"
          formControlName="email" placeholder="Enter Email" class="w-3/4 px-4 py-2 border bg-gray-300 rounded-md">
        <div *ngIf="profileForm.get('email')?.hasError('required') && profileForm.get('email')?.touched" class="text-red-500"> Email is required. 
        </div>
        <div *ngIf="profileForm.get('email')?.hasError('email') && profileForm.get('email')?.touched" class="text-red-500"> Invalid email format. </div>
      </div>
      <div class="form-group"> 
        <label for="phoneNumber" class="font-bold block">PhoneNumber:</label> <input type="tel"
          id="phoneNumber" formControlName="phoneNumber" placeholder="Enter Phone Number" class="w-3/4 px-4 py-2 border bg-gray-300 rounded-md">
        <div *ngIf="profileForm.get('phoneNumber')?.hasError('required') && profileForm.get('phoneNumber')?.touched"
          class="text-red-500"> Phone Number is required. 
        </div>
      </div> <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md">Save Changes</button>
    </form>
  </div>
</div>
</div>
